@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins&family=Viga&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  border: 3;
}

ul {
  list-style: none;
}
/* variables */
:root {
  --color-bg: #2e2f5b;
  --color-bg-2: #505581;
  --color-yellow: #f4d35e;
  --color-yellowLight: #faf0ca;
}
.container {
  width: 94vw;
  padding: 2vw;
  margin: auto;
}

/* nav section */
.nav {
  background: var(--color-bg);
  color: var(--color-yellowLight);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo h3 {
  font-size: 1.5rem;
}
ul {
  display: flex;
  flex-direction: row;
}
.btn {
  width: 5rem;
  padding: 1.1rem;
  background: var(--color-yellowLight);
  margin: 0.5rem;
  border-radius: 1rem;
  color: var(--color-bg);
  text-align: center;
}
.sub__logo {
  color: var(--color-yellow);
}

/* hero section */
.hero__section {
  background: var(--color-yellowLight);
  display: flex;
  flex-direction: row;
}
.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero__text h2 {
  font-size: 2rem;
  color: var(--color-bg);
  padding-bottom: 1rem;
}
.hero__text p {
  font-size: 1.5rem;
  text-align: left;
  color: var(--color-bg-2);
  padding-bottom: 1rem;
}
.wallet {
  width: 35%;
  padding: 2rem 3rem;
  font-size: 1.1rem;
  background: var(--color-bg);
  color: var(--color-yellowLight);
  border-radius: 1rem;
}

/* services section */
.services__section h1 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--color-bg);
  padding: 1rem;
}
.services {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3rem;
}
.img__cover {
  background-color: var(--color-yellowLight);
  border-radius: 1rem;
}
.service img {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 8rem;
  margin: auto;
}
.service {
  display: flex;
  flex-direction: column;
  background: var(--color-bg-2);
  padding-bottom: 5rem;
  border-radius: 1rem;
  width: 20rem;
}
.service p {
  text-align: center;
  margin-top: 1rem;
  color: var(--color-yellowLight);
  font-size: 1.1rem;
}
/* promo section */

.promo {
  display: flex;
  flex-direction: row;
  background: var(--color-yellowLight);
  justify-content: space-between;
}
.promo__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.promo__text h1 {
  font-size: 6rem;
  color: var(--color-bg);
}

/* review section */
.reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.review img {
  height: 5rem;
  width: 5rem;
  border-radius: 3rem;
  border: 0.3rem solid var(--color-yellow);
  margin: auto;
  position: relative;
  bottom: 3rem;
}
.review {
  background: var(--color-yellowLight);
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding-bottom: 3rem;
  border-radius: 1.5rem;
  text-align: center;
}
.review h3,
p {
  text-align: center;
  color: var(--color-bg);
  margin-bottom: 1rem;
}

/* footer sect */
footer {
  background: #2e2f5b;
}
.footer__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: var(--color-yellowLight);
  padding-bottom: 0.5rem;
}
footer ul {
  display: flex;
  flex-direction: column;
}
footer li {
  color: var(--color-yellowLight);
  padding-bottom: 0.5rem;
}
footer h3 {
  color: var(--color-yellow);
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
  /* nav section */
  .nav {
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .btn {
    width: 8rem;
    margin: auto;
    margin-top: 1rem;
  }

  /* hero section */
  .hero__section {
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .wallet {
    width: 15rem;
    margin: auto;
  }
  .hero__img {
    display: none;
  }

  /* services section */
  .services {
    flex-direction: column;
    margin: auto;
    margin-bottom: 2rem;
  }
  .service {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 2rem;
  }

  /* promo section */
  .promo {
    flex-direction: column;
  }
  .promo__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .promo__text h1 {
    text-align: center;
    font-size: 4rem;
  }

  /* review section */
  .reviews {
    flex-direction: column;
  }
  .review {
    margin: 1rem;
    margin-bottom: 3rem;
    width: 90%;
  }

  /* footer section */
  .footer__section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
